a.w3s:active {
  background-color: yellow;
  }
  
#pseudo-element::first-line{
 color:#f00;
  }

#pseudo-element::first-letter{
  color:darkblue;
  font-size:xx-large;
}

h2[align]::before{
  content:"_Before_";
  background-color:lightgreen;
  color:orangered;
  font-weight:inherit;
}
p::selection{
  color:darkslateblue;
  background-color: darkturquoise;
}

iframe[name='b']{
  background-color: skyblue;
}

[title~=flower]{
  border: 1px dashed red;
}

[class|=w3s]{
  background-color: yellow;
}
/*
or just to work with word regardless
if connected to other words or not...
[class^='w3s']{....} 
*/
[class$='ten']{
  background-color:yellowgreen;
/* this one $ >> is really cool becuse you can align-content: use it wiether it's connected to other words with huffine or without .... */
}Bisque
/* using just any text regardells where there place is...*/

body{
 position: relative; /* $$$  */
 z-index: 1;
} 

.body .bg{
 background-image:url("https://storage.needpix.com/rsynced_images/blue-fabric-textured-background.jpg");
 background-repeat: no-repeat;
 background-position: right ;
 background-attachment: fixed; /* OR scroll */
 /* 
   The shorthand for background  Like this 
   background: background-color background-image background-repeat background-attachment background-position;
   For ex >>   background: #ffffff url("img_tree.png") no-repeat right top;
 
 */
  opacity: .3;
  position: absolute; /* $$$  */
  z-index: -1;

}


h1{
  border: 1px dashed chocolate;
}

h2{
  background-color: darkorchid;
  opacity:.65;
}