a.w3s:active {
  background-color: yellow;
  }
  
#pseudo-element::first-line{
 color:#f00;
  }

#pseudo-element::first-letter{
  color:darkblue;
  font-size:xx-large;
}

h2::before{
  content:"_Before_";
  background-color:lightgreen;
  color:orangered;
  font-weight:inherit;
}
::selection{
  color:darkslateblue;
  background-color: darkturquoise;
}
